html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(180deg, #d7d2cc 0%, #304352 100%);
    color: #333;
    margin: 0;
    min-height: 98vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* table, th, td {
    border: 1px solid black;
} */

.titleContainer {
    width: 100%;
    height: 30px;
    background: #1d2125;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.title {
    flex: 1;
    color: #cccccc;
    text-align: left;
    margin-left: 20px;
}


.asset-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.asset-box {
    flex-basis: auto;
    width: 700px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
}

.copy-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    color: #333;
}

.helpContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    gap: 20px;
}

.tokenHelp {
    font-size: 14px;
    flex-basis: auto;
    width: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
}

.input-group {
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
    margin-right: 20px;
}


.success-message {
    display: none;
    color: #cccccc;
    margin-right: 20px;
    opacity: 0;
    font-size: 14px;
}

.copied-message {
    display: none;
    color: #cccccc;
    margin-right: 20px;
    opacity: 0;
    font-size: 14px;
}


input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    padding-right: 40px;
    background-color: #2b3137;
    color: #cccccc;
    border: 1px solid #464646;
    border-radius: 4px;
    transition: box-shadow 0.3s ease;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 6px #ecd282;
}

input[type="text"]:hover {
    outline: none;
    box-shadow: 0 0 6px #ecd282;
}

.icon-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 10px;
    border: 1px solid #464646;
    background: #2b3137;
    color: #ffffff;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.fetch-container {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    background-color: #2b3137;
    border-radius: 4px;
    border: 1px solid #464646;
    color: #cccccc;
}

.copy-container {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    background-color: #2b3137;
    border-radius: 4px;
    border: 1px solid #464646;
    color: #cccccc;
}

.get-btn {
    padding: 5px 10px;
    background: #2b3137;
    color: #cccccc;
    border: 1px solid #464646;
    cursor: pointer;
    border-radius: 4px;
    font-size: 13px;
    transition: box-shadow 0.3s ease;
}

.get-btn:hover {
    outline: none;
    box-shadow: 0 0 6px #ecd282;
}

.price-list {
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 10px;
}

.fade-out {
    animation: fadeOutAnimation 1s forwards;
}

.fade-in {
    animation: fadeInAnimation 1s forwards;
}

@keyframes fadeOutAnimation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

/* place holder text */
span.gold-silver-ratio-b:empty::before {
    content: "00.00";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.aud-usd-rate-b:empty::before {
    content: "00.00";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.gold-price-us-b:empty::before {
    content: "US$0000.00";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.gold-change-us-b:empty::before {
    content: "US$000.00 / 0.00%";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.gold-price-au-b:empty::before {
    content: "AU$0000.00";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.gold-change-au-b:empty::before {
    content: "AU$000.00 / 0.00%";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.silver-price-us-b:empty::before {
    content: "US$0000.00";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.silver-change-us-b:empty::before {
    content: "US$000.00 / 0.00%";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.silver-price-au-b:empty::before {
    content: "AU$0000.00";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.silver-change-au-b:empty::before {
    content: "AU$000.00 / 0.00%";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.aus-price-us-d:empty::before {
    content: "US$0000.00";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.aus-change-us-d:empty::before {
    content: "US$000.00 / 0.00%";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.aus-price-au-d:empty::before {
    content: "AU$0000.00";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.aus-change-au-d:empty::before {
    content: "AU$000.00 / 0.00%";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.ags-price-us-d:empty::before {
    content: "US$0000.00";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.ags-change-us-d:empty::before {
    content: "US$000.00 / 0.00%";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.ags-price-au-d:empty::before {
    content: "AU$0000.00";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.ags-change-au-d:empty::before {
    content: "AU$000.00 / 0.00%";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.btc-price-us-d:empty::before {
    content: "US$0000.00";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.btc-change-us-d:empty::before {
    content: "US$000.00 / 0.00%";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.btc-price-au-d:empty::before {
    content: "AU$0000.00";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.btc-change-au-d:empty::before {
    content: "AU$000.00 / 0.00%";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.eth-price-us-d:empty::before {
    content: "US$0000.00";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.eth-change-us-d:empty::before {
    content: "US$000.00 / 0.00%";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.eth-price-au-d:empty::before {
    content: "AU$0000.00";
    color: #aaaaaa7a; 
    font-style: italic;
}

span.eth-change-au-d:empty::before {
    content: "AU$000.00 / 0.00%";
    color: #aaaaaa7a; 
    font-style: italic;
}


/* loader */
.lds-grid {
    display: none;
    position: relative;
    margin-top: 2px;
    margin-right: 15px;
    width: 28px; 
    height: 28px; 
}
.lds-grid div {
    position: absolute;
    width: 5px; 
    height: 5px; 
    border-radius: 50%; 
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
    box-shadow: 0 0 7px #ecd282; 
}

.lds-grid div:nth-child(1) { top: 2px; left: 2px; }
.lds-grid div:nth-child(2) { top: 2px; left: 11px; animation-delay: -0.4s; }
.lds-grid div:nth-child(3) { top: 2px; left: 20px; animation-delay: -0.8s; }
.lds-grid div:nth-child(4) { top: 11px; left: 2px; animation-delay: -0.4s; }
.lds-grid div:nth-child(5) { top: 11px; left: 11px; animation-delay: -0.8s; }
.lds-grid div:nth-child(6) { top: 11px; left: 20px; animation-delay: -1.2s; }
.lds-grid div:nth-child(7) { top: 20px; left: 2px; animation-delay: -0.8s; }
.lds-grid div:nth-child(8) { top: 20px; left: 11px; animation-delay: -1.2s; }
.lds-grid div:nth-child(9) { top: 20px; left: 20px; animation-delay: -1.6s; }

  
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  